doctype
html
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= app.name
    script(data-main='/assets/js/main', src='/assets/components/requirejs/require.js')
body(ng-controller='AppCtrl', style="display: none")
  .navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        button.navbar-toggle(data-toggle="collapse", data-target=".navbar-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')= app.name
      .collapse.navbar-collapse
        p.navbar-text.pull-right= app.version
  .container-fluid
    .row
      .col-md-4
        .page-header
          h3 ng-view
        p
          .btn-group
            a.btn.btn-default(href='/') /
            a.btn.btn-default(href='/view1') /view1
            a.btn.btn-default(href='/view2') /view2
            a.btn.btn-default(href='/view3') /view3
        div.row(ng-view)
      .col-md-4(ng-controller='SocketCtrl')
        .page-header
          h3 Socket.io Events 1
        p
          .btn-group
            button.btn.btn-default(ng-click="start()", ng-class="{ disabled: started }") Start
            button.btn.btn-default(ng-click="stop()", ng-class="{ disabled: !started }") Stop
        .alert.alert-info.text-center(ng-hide="messages.length") No Data
        table.table.table-condensed.table-bordered.table-striped.table-hover(ng-cloak, ng-show="messages.length")
          tr(ng-repeat="message in messages | orderBy:'date':true | limitTo:5")
            td {{ message.date | date:'medium' }}
            td {{ message.data }}
      .col-md-4(ng-controller='SocketCtrl')
        .page-header
          h3 Socket.io Events 2
        p
          .btn-group
            button.btn.btn-default(ng-click="start()", ng-class="{ disabled: started }") Start
            button.btn.btn-default(ng-click="stop()", ng-class="{ disabled: !started }") Stop
        .alert.alert-info.text-center(ng-hide="messages.length") No Data
        table.table.table-condensed.table-bordered.table-striped.table-hover(ng-cloak, ng-show="messages.length")
          tr(ng-repeat="message in messages | orderBy:'date':true | limitTo:5")
            td {{ message.date | date:'medium' }}
            td {{ message.data }}