.col-md-12
  .alert.alert-success
    = "Realtime Load AVG: "
    span(ng-repeat="value in loadavg track by $index")
      .label.label-success {{ value }}
      = " "
  .alert.alert-success
    = "Realtime Uptime: "
    .label.label-success {{ uptime }}m