.alert.alert-success
  = "Realtime Load AVG: "
  span(ng-repeat="value in loadavg")
    .badge.badge-success {{ value }}
    = " "
.alert.alert-success
  = "Realtime Uptime: "
  .badge.badge-success {{ uptime }}m